<header class="header">
  <div class="container header__container">
    <div class="logo">
      <a href="#">
        <img src="./assets/images/logo.png" alt="logo">
      </a>
    </div>
    <nav class="header__menu" id="header__menu">
      <div class="close">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                        <g>
	                        <g>
		                        <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
		                            	c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
                                        c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
                                        L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
                                        c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
                                        c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
                                        c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
                            </g>
                        </g>
                </svg>
      </div>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link">Пироженки</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(about)">О нас</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(order)">Оформить</a>
        </li>
      </ul>
    </nav>
    <div class="phone header__phone">{{ headerPhoneNumber | phoneNumber}}</div>
    <div class="burger" id="burger">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="40px" height="22px">
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.000,-0.000 L39.1000,-0.000 L39.1000,2.1000 L0.000,2.1000 L0.000,-0.000 Z"/>
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.000,10.000 L39.1000,10.000 L39.1000,12.000 L0.000,12.000 L0.000,10.000 Z"/>
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.000,19.1000 L39.1000,19.1000 L39.1000,21.1000 L0.000,21.1000 L0.000,19.1000 Z"/>
      </svg>
    </div>
  </div>
</header>

<section class="information">
  <div class="container information__container">
    <div class="information__info">
      <h1 class="information__title">Мягкие французские пироженки Macaroons</h1>
      <div class="information__text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <button class="btn information__btn" appBackground>Выбрать макарун</button>
    </div>
    <div class="information__image">
      <img src="./assets/images/macaroons_box.png" alt="macaroons box" class="information__image-img">
    </div>
  </div>
</section>

<section class="about" id="menu__link-about" #about>
  <div class="container about__container">
    <div class="about__info">
      <h2 class="about__title">Мы печём для вас вкуснейшие макаруны уже более 10 лет</h2>
      <div class="about__text">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без
        консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
        маргарина, разрыхлителей и улучшителей муки.
      </div>
    </div>
    <div class="about__image">
      <img src="./assets/images/bigmacaroon.png" alt="Big Macaroon" class="about__image-img">
    </div>
  </div>
</section>

<app-advantages></app-advantages>

<section class="choose" id="menu__link-pie" #macaroons>
  <div class="container choose__container">
    <h2 class="choose__title">Выберите свой макарун</h2>

    <div class="choose__list">
      <app-product-card *ngFor="let product of foodCards" [product]="product" (productAdded)="productAdded($event)"></app-product-card>
    </div>
  </div>
</section>

<section class="order" id="menu__link-order" #order>
  <div class="container order__container">
    <div class="order__strawberry-big-second">
      <img src="./assets/images/клубника1.png" alt="Strawberry">
    </div>
    <div class="order__image-macaroon">
      <img src="./assets/images/macaron_PNG56.png" alt="Macaroons" class="order__image-macaroon-img">
      <div class="order__strawberry-big">
        <img src="./assets/images/клубника1.png" alt="Strawberry">
      </div>
    </div>
    <div class="order__form">
      <div class="order__strawberry-small">
        <img src="./assets/images/клубника2.png" alt="Strawberry">
      </div>
      <h2 class="order__title">Закажите макарун!</h2>
      <div class="order__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <label class="order__label label-choice">Ваш выбор</label>
      <input type="text" placeholder="Напишите, что хотите заказать..." class="order__input input-choice"
             [(ngModel)]="formValues.foodCardTitle">
      <label class="order__label label-data">Заполните данные для заказа</label>
      <input type="text" placeholder="Ваше имя" class="order__input input-data">
      <input type="text" placeholder="+375 (__) ___ - __ - __" class="order__input input-data">
      <div class="order__action">
        <button class="btn order__btn" appBackground>Оформить заказ</button>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container footer__container">
    <div class="logo footer__logo">
      <a href="#">
        <img src="./assets/images/logo.png" alt="logo">
      </a>
    </div>
    <div class="rights">Все права защищены, 2020</div>
    <div class="footer__instagram">
      <a href="{{footerInstagramLink}}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="footer__svg">
          <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
        </svg>
      </a>
      <div class="footer__instagram-text">Мы в Instagram</div>
    </div>
    <div class="phone footer__phone">{{ '375293689868' | phoneNumber }}</div>
  </div>
</footer>

<div class="present" [style.display]="showPresent?'block':'none'">
  <div class="present__text">
    {{ cartService.totalPrice }} руб.
    <div class="present__triangle"></div>
  </div>
  <button class="present__circle">
    <img src="./assets/images/cart.png" alt="Present" class="present__image">
    <div class="product__number">{{ cartService.count }}</div>
  </button>
</div>
