* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "GilroyRegular";
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: "GilroyMedium";
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "GilroyBold";
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "GilroyExtraBold";
  src: url("./assets/fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: "Tavolga";
  src: url("./assets/fonts/Ivan Petrov - Tavolga-Free.otf");
}

body {
  background-color: #eba8b1;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  border: 0;
  border-radius: 30px;
  /*background: linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);*/
  /*background: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);*/
  /*background: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);*/
  /*background: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);*/
  font-family: "GilroyBold", sans-serif;
  color: rgb(255, 255, 255);
  -webkit-transition: box-shadow 0.3s linear;
  -moz-transition: box-shadow 0.3s linear;
  -ms-transition: box-shadow 0.3s linear;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

